<%= form_with(model: story) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% story.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-4 border-bottom">
    <%= form.text_field :title, class: 'form-control input-height fs-3 border-0', placeholder: 'Enter Title' %>
  </div>

  <div class="field mb-4">
    <%= form.rich_text_area :body, class: 'form-control border-0 fs-5', placeholder: 'Once upon a time ...' %>
  </div>

  <div class="actions">
    <%= form.submit "Post Story", class: "btn py-3 bg-red rounded-pill text-white fw-bolder shadow px-5" %>
  </div>
<% end %>
