<%= render "layouts/nav" %>
<div class="container">
  <div class="row">
    <%= render "layouts/side-bar" %>
    <div class="col-lg-8 mx-auto">
      <div class="posts_all">
        <div class="row">
          <div class="col-md-12">
                <%= render "layouts/inner-nav" %>
                <% @stories.each do |story| %>
                  <div class="post border-bottom py-3">
                    <p class="pb-2">
                      <%= link_to story.body.to_plain_text.truncate_words(60), story, class: 'text-muted', style: 'text-decoration: none;' %>
                    </p>
                    <div class="d-flex align-items-center pb-3">
                      <div class="p-0 story_author d-flex align-items-center text-muted">
                        <span class="me-1 fw-bold">Posted by: </span>
                        <div class="fst-italic">
                          <%= link_to story.user.first_name, {}, class: 'no-decoration color-purple' %> 
                          <%= link_to story.user.last_name, {}, class: 'no-decoration color-purple' %>
                        </div>
                      </div>
                      <div class="d-flex reactions ps-5 ms-5">
                        <a href="#" class="text-muted me-4 no-decoration">
                          <i class="far fa-heart"></i>
                          <span class="bg-light rounded py-1 px-2 ms-1 fw-bolder text-dark">0</span>
                        </a>
                        <a href="#" class="text-muted no-decoration">
                          <i class="far fa-comment"></i>
                          <span class="bg-light rounded py-1 px-2 ms-1 fw-bolder text-dark">0</span>
                        </a>
                      </div>
                    </div>
                  </div>
                <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
