<%= render "layouts/nav" %>
<div class="container">
  <div class="row">
    <%= render "layouts/side-bar" %>
    <div class="col-lg-8 mx-auto pb-5">
      <div class="posts_all">
        <div class="mt-5">
          <% @stories.each do |story| %>
                  <div class="post border-bottom py-3">
                    <div class="mb-2" style="letter-spacing: -0.7px">
                      <%= link_to story.title, story, class: 'fs-4 no-decoration fw-bold color-purple' %>
                    </div>
                    <p>
                      <%= link_to story.body.to_plain_text.truncate_words(25), story, class: 'text-muted no-decoration' %>
                    </p>
                    <div class="d-flex align-items-center">
                      <div class="p-0 fw-bold text-muted">
                        <small>
                          Authored by: <%= link_to story.user.first_name, {}, class: 'no-decoration color-purple' %>
                        </small>
                      </div>
                      <div class="d-flex reactions ps-5 ms-5">
                        <%# <a href="#" class="text-muted me-4 no-decoration">
                          <i class="far fa-heart"></i>
                          <span class="bg-light rounded py-1 px-2 ms-1 fw-bolder text-dark">0</span>
                        </a> %>
                        <a href="#" class="text-muted no-decoration">
                          <i class="far fa-comment"></i>
                          <span class="bg-light rounded py-1 px-2 ms-1 fw-bolder text-dark">
                            <%= story.comments.count %>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
