<%= render "layouts/nav" %>
<div class="container">
  <div class="row">
    <%= render "layouts/side-bar" %>

    <div class="col-lg-8 mx-auto pb-5">
      <%= render "layouts/inner-nav" %>
      <div class="row mt-5">
        <div class="col-lg-10">
          <div class="mb-3 fs-4 no-decoration fw-bold color-purple" style="letter-spacing: -0.7px">
            <%= @story.title %>
          </div>

          <div class="bg-light mb-4 py-1 px-3 rounded">
            <span class="fw-bold text-muted">Posted by:</span>
            <span class="text-muted">
              <%= @story.user.first_name %> 
              <%= @story.user.last_name %>
            </span>
            <span class="text-muted ms-4">
              <span class="fw-bold">Posted on: </span>
              <%= @story.created_at %> 
            </span>
            <%= link_to 'Edit Story', edit_story_path(@story), class: "ms-3 no-decoration" %>
          </div>

          <div class="text-muted mb-5">
            <%= @story.body %>
          </div>

          <%= form_for([@story, @story.comments.build]) do |form| %>
            <div class="field mb-3">
              <%= form.text_area :body, class: 'form-control', placeholder: 'Type comment ...' %>
            </div>
          
            <div class="actions">
              <%= form.submit "Submit", class: 'btn bg-red text-white py-2 px-4 rounded-pill fw-bolder' %>
            </div>
          <% end %>

          <div class="mt-5">
            <%= render @story.comments %>
          </div>
        </div>

        <div class="col-lg-1 mx-auto">
          <div class="">
            <a href="#" class="text-muted me-4 no-decoration fs-3 mt-5 d-block">
              <i class="far fa-heart d-block mb-3 color-red"></i>
              <span class="bg-light rounded px-2 fw-bolder text-muted">0</span>
            </a>
            <a href="#" class="text-muted me-4 no-decoration fs-3 mt-5 d-block">
              <i class="far fa-comment d-block mb-3 deep-purple"></i>
              <span class="bg-light rounded px-2 fw-bolder text-muted">
              <%= @comments_total %>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>